<!doctype html>
<html>
    <head>
            <style>
                ul{
                    color: red;
                    font-weight: bold;
                    font-style: italic;
                    
                }
            </style>

        <title>Blogz</title>
        <a href="login">Login</a>
        <a href="signup">Create Account</a>
        <a href="/">Home</a>
        <a href="/blog">All Blogs</a>
        <a href="/newpost">Add a New Blog Post</a> 
    </head>
    <body>
        <div style='float: right'>
          {% if 'user' in session %}
            {{ session['user'] }}
            <form action="/logout" method="post" id='logout'>
              <input type="submit" value="Log Out" />
            </form>
          {% endif %}
        </div>


    
{% block content %}
{% endblock %}

</body>
</html>