<!doctype html>
<html>
        <head> 
                <style> ul{

                        list-style: none
                           }
                        </style>
                        
                <title>Parenthood Struggle</title> 
                <a href="/">Main Blog Page</a>
                <a href="/newpost">Add a New Blog Post</a>  
        </head>
<body>
        <h1>ParenthoodStruggle.com</h1>
        <H4>The Parenthood Struggle is Real</H4>

    {% block content %}
    {% endblock %}

</body>
</html>